<div *ngIf="details$ | async as details" class="px-10 relative">
  <div
    [ngStyle]="{ 'background-image': 'url(' + details.background_image_additional + ')' }"
    class="h-screen w-full blur-sides object-cover absolute left-0 -top-8 opacity-30 z-[-10]"
  ></div>
  <!-- <img class="blur-sides" src="{{ details.background_image_additional }}" alt="{{ details.background_image_additional }}" /> -->

  <div class="grid grid-cols-3 mt-8">
    <div>
      <div class="sticky top-4">
        <app-media-card [trailers]="details.trailers" [background_image]="details.background_image"></app-media-card>

        <app-add-buy-buttons [stores]="details.stores"></app-add-buy-buttons>
        <app-ratings [ratings]="details.ratings"></app-ratings>
      </div>
    </div>
    <app-game-info class="col-span-2" [info]="details"></app-game-info>
  </div>
</div>
