<div>
    <ng-container *ngIf="Array.isArray(trailers) && !loading && trailers.length; else BG">
        <div class="w-full relative text-transparent">
            <video #mainVideoEl [autoplay]="true" [muted]="true" [loop]="true" controls class="absolute w-full h-full bg-black">
                <source src="{{ trailers[selectedMedia].data.max }}" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
            <img src="{{ trailers[selectedMedia]?.preview }}" alt="{{ trailers[selectedMedia]?.preview }}" />

            <p>{{ trailers[selectedMedia]?.data?.max }}</p>
        </div>

        <div class="flex h-24 py-1 px-2 bg-gray-900 gap-1 overflow-x-auto scroll-bar">
            <ng-container *ngFor="let trailer of trailers; let i = index">
                <video
                    [ngClass]="{ hidden: hoveredClip !== i, 'border-2 border-purple-500': selectedMedia === i }"
                    (click)="selectMedia(i)"
                    (mouseover)="clipHovered(i)"
                    (mouseleave)="clipBlurred()"
                    #videoEl
                    [muted]="true"
                    [loop]="true"
                    class="cursor-pointer"
                    title="{{ trailer.name }}"
                >
                    <source src="{{ trailer.data?.['480'] }}" type="video/mp4" />
                    clipBlurred Your browser does not support the video tag.
                </video>
                <img
                    [ngClass]="{ hidden: hoveredClip === i, 'border-2 border-purple-500': selectedMedia === i }"
                    (click)="selectMedia(i)"
                    (mouseover)="clipHovered(i)"
                    src="{{ trailer.preview }}"
                    alt="{{ trailer.preview }}"
                    class="cursor-pointer"
                />
            </ng-container>
        </div>
    </ng-container>
    <ng-template #BG>
        <div [ngClass]="{ skeleton: loading }">
            <img
                *ngIf="!loading && background_image; else black"
                src="{{ background_image && getImage(background_image) }}"
                alt="{{ background_image }}"
                class="object-fill w-full"
            />
            <ng-template #black>
                <div class="bg-black w-full h-64 md:h-[450px] lg:h-64 grid place-content-center">
                    <img src="assets/images/G.svg" class="h-14 w-14" />
                </div>
            </ng-template>
        </div>
    </ng-template>

    <!-- <ng-template #SS>
    <div class="w-full min-h-[220px] flex items-center">
      <img src="{{ getImage(screenshots[selectedMedia].image, 'small') }}" alt="{{ screenshots[selectedMedia].image }}" />
    </div>

    <div class="flex h-24 py-1 px-2 bg-gray-900 gap-1 overflow-x-auto scroll-bar">
      <img
        *ngFor="let screenshot of screenshots; let i = index"
        [ngClass]="{ 'ring ring-purple-500': selectedMedia === i }"
        (click)="selectMedia(i)"
        src="{{ getImage(screenshot.image, 'small') }}"
        alt="{{ screenshot.image }}"
        class="cursor-pointer"
      />
    </div>
  </ng-template> -->
</div>
