<div
    [ngClass]="{ skeleton: loading }"
    class="relative transform duration-300 h-full px-4 py-6 rounded-2xl hover:z-30 hover:scale-105 hover:border-primary-400 border-2 border-transparent text-white"
>
    {{ loading }}
    <img
        src="{{ getImage(item.image_background) }}"
        alt="{{ item.name }}"
        class="absolute h-full w-full object-cover inset-0 rounded-2xl z-[-1] opacity-50"
    />
    <div class="z-10 text-center flex flex-col justify-between h-full">
        <img
            *ngIf="params === 'creators'"
            src="{{ item.image || 'assets/images/no-avatar.png' }}"
            alt="avatar"
            class="h-24 w-1h-24 rounded-full mx-auto"
        />
        <div>
            <p (click)="selectQuery(item)" class="text-2xl my-2 underline cursor-pointer">{{ item.name }}</p>
            <p *ngIf="item.positions" class="text-sm">
                <span *ngFor="let position of item.positions; last as L"> {{ position.name }}{{ L ? "" : "," }} </span>
            </p>
            <!-- <button class="hover:text-black hover:bg-opacity-100 duration-300 text-xl my-3 py-2 px-7 rounded-md bg-white bg-opacity-20">
                Follow
            </button> -->

            <p class="flex justify-between border-b pb-1 my-2">
                <span class="text-lg font-bold"> Games </span>
                <span>
                    {{ item.games_count | number: "1.0":"en-US" }}
                </span>
            </p>

            <div>
                <p *ngFor="let game of item.games" class="flex justify-between my-1">
                    <a [routerLink]="['/games', game.slug]" class="text-xl self-start overflow-hidden overflow-ellipsis link">{{
                        game.name
                    }}</a>
                    <!-- <span class="underline text-left"> {{ game.name }} </span> -->
                    <span class="flex items-center">
                        {{ game.added | number: "1.0":"en-US" }} <span class="material-icons">person_outline</span>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>
