<div class="bg-gradient-to-l from-primary-700/50 lg:flex justify-between items-center">
    <p class="text-3xl pl-6 py-3">Release Calendar</p>

    <div class="text-lg">
        <div class="bg-gradient-to-l h-full from-primary-700 p-3 sm:p-6 flex flex-wrap gap-3 sm:gap-6 justify-end items-center">
            <span (click)="browseYears()" [ngClass]="{ hidden: selectedYears === 0 }" class="material-icons cursor-pointer"
                >keyboard_double_arrow_left</span
            >
            <a
                [routerLink]="['/games', 'calendar', year, selectedMonth]"
                *ngFor="let year of Years[selectedYears]"
                [ngClass]="{ 'border-white': selectedYear === year }"
                class="border-b-2 border-transparent"
                >{{ year }}</a
            >
            <span
                (click)="browseYears('right')"
                [ngClass]="{ hidden: selectedYears === Years.length - 1 }"
                class="material-icons cursor-pointer"
                >keyboard_double_arrow_right</span
            >
        </div>
        <div class="p-3 sm:p-6 flex flex-wrap gap-3 sm:gap-6 justify-end">
            <a
                [routerLink]="['/games', 'calendar', selectedYear, month.month]"
                queryParamsHandling="merge"
                *ngFor="let month of months | async"
                [ngClass]="{
                    'text-primary-300 after:absolute after:inset-0 after:w-3 sm:after:w-4 after:mx-auto after:translate-y-1/3 sm:after:translate-y-1/2 after:border-gray-400 after:border-l-[7px] sm:after:border-l-[10px] after:border-r-[7px] sm:after:border-r-[10px] after:border-b-[10px] sm:after:border-b-[15px] after:border-l-[transparent] after:border-r-[transparent]':
                        selectedMonth === month.month
                }"
                class="relative content-none"
                >{{ ABBR[month.month] }}</a
            >
        </div>
    </div>
</div>
