<div>
    <p class="text-2xl font-semibold my-6">Reddit Posts</p>

    <div class="grid gap-6">
        <div *ngFor="let post of posts" class="grid gap-2 bg-dark-500/50 rounded-md p-4">
            <p class="text-3xl font-semibold">{{ post.name }}</p>
            <div>
                <span class="link">
                    <a href="{{ post.username_url }}" target="blank">
                        {{ post.username?.replace("/u/", "") }}
                    </a>
                </span>
                -
                <span>{{ post.created | date }}</span>
            </div>

            <div class="w-full overflow-hidden">
                <img *ngIf="post.image" src="{{ post.image }}" alt="{{ post.image }}" />
                <p class="max-w-full" [innerHTML]="post.text"></p>
            </div>

            <a href="{{ post.url }}" target="blank" class="text-xl link font-semibold">Read Full Story >></a>
        </div>
    </div>

    <button
        (click)="getNextPage(next)"
        *ngIf="next"
        class="border border-primary-600 flex justify-center items-center font-semibold text-xl text-white hover:text-primary-600 hover:bg-opacity-0 duration-300 w-full mt-4 h-12 bg-primary-600 bg-opacity-50 focus:ring-0"
    >
        <div *ngIf="nextPostsPageLoading$ | async; else loadMore" ellipsisLoader></div>

        <ng-template #loadMore> Load more reddit posts </ng-template>
    </button>
</div>
