<div #head class="sm:h-16 bg-gradient-to-br from-primary-700 to-primary-400" *ngIf="route | async as route">
    <div class="max-w-screen-2xl mx-auto flex items-center h-full px-2 md:px-4 py-2 sm:py-0 gap-2 justify-between text-white">
        <span (click)="menuOpen = !menuOpen" class="material-icons cursor-pointer text-4xl sm:hidden">{{
            !menuOpen ? "menu" : "close"
        }}</span>
        <a [routerLink]="['']" class="h-full py-2 hidden sm:block">
            <img src="assets/images/G.svg" class="h-full min-w-max" />
        </a>
        <div class="relative w-full flex items-center h-full">
            <a (click)="menuOpen = false" [routerLink]="['']" *ngIf="!searching" class="whitespace-nowrap text-3xl sm:hidden mx-auto"
                >Game Archives</a
            >
            <div
                *ngIf="!searching"
                class="hidden sm:flex w-full items-center justify-around gap-1 h-full"
                [ngClass]="{ 'opacity-0': searching }"
            >
                <a
                    [routerLink]="['browse', link]"
                    title="{{ link }}"
                    *ngFor="let link of headerLinks"
                    class="relative cursor-pointer overflow-hidden group text-center h-full"
                >
                    <p
                        [ngClass]="{ '-translate-y-full': route.params.slug === link }"
                        class="h-full grid content-center text-xl transform group-hover:-translate-y-full duration-300 ease-out capitalize"
                    >
                        {{ link.replace("-", " ") }}
                    </p>
                    <img
                        [ngClass]="{ '-translate-y-full': route.params.slug === link }"
                        class="absolute w-full h-full grid content-center transform group-hover:-translate-y-full duration-300 ease-out p-2 fill-current"
                        src="assets/images/{{ link }}.svg"
                    />
                </a>
            </div>
            <form
                autocomplete="off"
                #f="ngForm"
                #search
                (ngSubmit)="onSubmit(f)"
                novalidate
                class="absolute w-full z-50 px-4"
                [ngClass]="{ 'opacity-0 pointer-events-none': !searching }"
            >
                <input
                    name="search"
                    class="form-control"
                    ngModel
                    required
                    (keyup)="onKeyUp($event)"
                    #searchInput
                    minlength="4"
                    placeholder="Search Games"
                    class="bg-gray-700 p-2 px-4 rounded-full outline-none hover:text-black hover:bg-gray-100 focus:text-black focus:bg-gray-100 duration-500 w-full placeholder-current peer"
                />

                <div *ngIf="searchResults" class="absolute bg-black p-3 mt-2 gap-1 rounded-sm hidden peer-focus:grid">
                    <a
                        (click)="selectSearchResult(res.slug)"
                        *ngFor="let res of searchResults"
                        class="hover:bg-gray-600 duration-300 flex gap-2 cursor-pointer items-center"
                    >
                        <img src="{{ getImage(res.background_image, 'small') }}" alt="{{ res.background_image }}" class="w-12 h-12" />
                        <div>
                            <div class="flex gap-2">
                                <img
                                    title="{{ platform.platform.name }}"
                                    *ngFor="let platform of res.parent_platforms"
                                    src="assets/images/{{ platform.platform.slug }}.svg"
                                    alt="{{ platform.platform.name }}"
                                    class="h-3"
                                />
                            </div>
                            <p>{{ res.name }}</p>
                        </div>
                    </a>
                </div>
            </form>
        </div>

        <span (click)="doSearch()" class="material-icons cursor-pointer text-4xl">{{ !searching ? "search" : "close" }}</span>

        <!-- <div class="flex gap-3 items-center flex-1">
            <span (click)="doSearch()" class="material-icons cursor-pointer sm:block">{{ !searching ? "search" : "close" }}</span>
            <span class="material-icons cursor-pointer">person_outline</span>
        <span class="material-icons cursor-pointer">notifications_none</span>
        <span class="material-icons cursor-pointer">add_circle_outline</span>
        </div> -->
    </div>

    <!-- [ngClass]="{ '-translate-y-full': route.params.slug === link }" -->

    <div [ngClass]="!menuOpen ? 'max-h-0' : 'max-h-screen'" class="w-full grid text-xl text-white overflow-hidden duration-500">
        <a
            *ngFor="let link of headerLinks"
            [ngClass]="{ 'bg-primary-800': route.params.slug === link }"
            [routerLink]="['browse', link]"
            title="{{ link }}"
            (click)="menuOpen = false"
            class="cursor-pointer border-b border-gray-300/30 capitalize py-3 px-6 text-white"
        >
            {{ link }}
        </a>
    </div>
</div>

<div class="fixed bottom-4 right-4 opacity-0 hover:opacity-100 duration-300 z-40" [ngClass]="{ 'opacity-50': windowScrolled }">
    <button (click)="scrollToTop()">
        <span class="material-icons text-5xl">arrow_circle_up</span>
    </button>
</div>
