<div class="flex gap-2 my-4">
  <button class="group relative">
    <div class="py-2 px-4 bg-gray-700 rounded-md hover:brightness-125 duration-300">
      <span class="material-icons">add </span>
      <p class="text-xs whitespace-nowrap">Add to</p>
    </div>
    <div class="absolute hidden group-focus:grid text-left bg-gray-700 rounded-md -bottom-1 left-0 p-2 gap-2 translate-y-full z-10">
      <p>My Games</p>
      <p>Wishlist</p>
      <p>Currently Playing</p>
      <p>Played</p>
      <p>Completed</p>
      <p>Play Later</p>
    </div>
  </button>

  <button class="group min-h-full relative flex-1">
    <div class="text-white bg-purple-400 rounded-md h-full flex items-center justify-center hover:brightness-110 duration-300 font-bold">
      BUY NOW
      <!-- <span class="material-icons">double_arrow</span> <span class="material-icons">store</span> -->
    </div>
    <div
      class="
        absolute
        hidden
        group-focus:grid
        border-2 border-purple-400
        bg-gray-700
        rounded-md
        -bottom-1
        left-0
        gap-2
        translate-y-full
        z-10
      "
    >
      <button
        *ngFor="let store of stores"
        class="hover:bg-purple-400 hover:text-white duration-300 px-2 py-1 flex items-center text-gray-400 gap-4 justify-center"
      >
        {{ store.store.name }} <img src="assets/images/{{ store.store.slug }}{{ store.store.slug === 'nintendo' ? '-store' : '' }}.svg" />
      </button>
    </div>
  </button>
</div>
