/* You can add global styles to this file, and also import other style files */
@import "material-icons/iconfont/filled.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html {
    background-color: #293136;
    color: #ddd;
}

.scroll-bar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.scroll-bar::-webkit-scrollbar-track {
    background-color: #293136;
    border-radius: 100px;
}

.scroll-bar::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #8070d4;
}

.blur-sides {
    box-shadow: 0 0 8px 8px #293136 inset;
}

.link {
    @apply text-gray-300 hover:text-gray-100;
}

.link_ {
    @apply underline text-gray-300 hover:text-gray-100 mr-1;
}

/* -------------------------------------------------------------------------- */
/*                                   LOADERS                                  */
/* -------------------------------------------------------------------------- */

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 13px;
}
.lds-ellipsis div {
    position: absolute;

    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.skeleton {
    position: relative;
    overflow: hidden;
    cursor: progress;
}

.skeleton::after {
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.1) 10%,
        rgba(255, 255, 255, 0.2) 20%,
        rgba(255, 255, 255, 0.3) 30%,
        rgba(255, 255, 255, 0.4) 40%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0.5) 60%,
        rgba(255, 255, 255, 0.4) 70%,
        rgba(255, 255, 255, 0.3) 80%,
        rgba(255, 255, 255, 0.2) 90%,
        rgba(255, 255, 255, 0.1) 100%,
        rgba(255, 255, 255, 0)
    );

    animation: shimmer 2s infinite;
    content: "";
}

@keyframes shimmer {
    100% {
        transform: translateX(120%);
    }
}
